<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
 
    <appSettings>
      <add key="emailadress" value="ricardo.gaio.29072@esgc.pt" />
      <add key="Epass" value="D01sk01pt1!" />
    </appSettings>
    <connectionStrings>
        <add name="Clube_de_robotica.Properties.Settings.Clube_informaticaConnectionString"
            connectionString="Data Source=B07-PC03;Initial Catalog=Clube_informatica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Clube_de_robotica.Properties.Settings.Clube_informaticaConnectionStringInsAlunoInProj"
            connectionString="Data Source=B07-PROF;Initial Catalog=Clube_informatica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Clube_de_robotica.Properties.Settings.ConnectionString"
            connectionString="Data Source=B07-PROF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Clube_de_robotica.Properties.Settings.ClubeDeInformaticaConnectioCasa"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Clube_informatica.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Clube_de_robotica.Properties.Settings.DatabaseDataSetConnection"
            connectionString="Data Source=DESKTOP-EETVOLN;Initial Catalog=Clube_informatica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Clube_de_robotica.Properties.Settings.Clube_de_InformaticaConnectionString"
            connectionString="Data Source=DESKTOP-L3B0OFV;Initial Catalog=Clube_informatica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>